name: Publish to Hashnode

on:
  push:
    branches: [ main ]
    paths:
      - 'posts/**/*.md'  

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Publish to Hashnode
        uses: OmenApps/publish-github-to-hashnode@v1
        with:
          token: ${{ secrets.HASHNODE_KEY }}
          publication: prakash5
          path: posts/**/*.md
