name: Publish to Hashnode

on:
  push:
    branches: [ main ]
    paths:
      - 'posts/**/*.md'  # Sirf posts folder changes pe run

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Publish to Hashnode
        uses: raunakgurud09/hashnode-publish@v1.1  # Latest working version
        with:
          hashnode_key: ${{ secrets.HASHNODE_KEY }}  # Tera secret name
          file: 'posts/*.md'  # Ya specific file jaise posts/jenkins-deploy.md
          host: prakash5.hashnode.dev
